@charset "UTF-8";

@import url("reset.css");

/* ナビゲーション */
@import url("nav.css");

body{background-color:white;}
body{ font-size:14px; line-height:1.5; font-family: 'Vollkorn', serif;}

/*daishiの追加分*/

.textopen{font-size:25px;font-weight:1500;text-align: center;}
.contents{
	height: 790px;
	background: linear-gradient( rgba(255, 255, 255, 0.5),5%, rgba(51, 54, 92, 0.5));
}

.top{
	width: 17%;
	margin:10% 8% 0px 8%;
	padding-top: 6%;
	
}



.box-text{
	margin-left:35%;
	margin-right:10%;
	font-size:15px;
	font-weight: 1200;
	letter-spacing: 0.9em;
	line-height: 1.5em;
	color: white;
	
	
	
}

.box-text p{
	float:left;
	z-index: 3;
}





.bottom{
	margin-top:330px;
	margin-left:23%;
	
	border:solid 2px rgb(58, 66, 80);
	border-right: unset;
	position:absolute;
	
	
}

.box-img{
	opacity:0.8px;
	
}

.bottom p{
	font-size:12px;
	font-weight:500;
	text-align: right;
	color: rgb(4, 22, 56);
	
}

.about{
	position:absolute;
	color: rgba(169, 172, 202, 0.3);
	padding-top:170px;
	
}

.event{
	width:100%;
	text-align: right;
	color:rgba(160, 161, 189, 0.3);
	position: absolute;

}


.back-letter{
	font-size:15vw;
	font-weight: 2000;
	font-style: inherit;
	transform:scale(1,1.8);
	
}


.space{
	margin-top:600px;
}

.clr{
	margin-top:50px;
}

.contents2{
	height:auto;
	background:linear-gradient(-160deg,rgb(156, 160, 180),rgba(253, 253, 253, 0.6) );
	
	position:relative;
}
.top2{
	position: absolute;
	z-index: 1;

}

#topics{
	
	padding-top:400px;
}

.contents3{
	margin-bottom:50px;
	padding-bottom: 530px;
	position: relative;
	background:linear-gradient(rgba(255, 255, 255, 0.4),10%,rgba(51, 54, 92, 0.5),90%,rgba(255, 255, 255, 0.4));
}

.top3{
	position: absolute;
	z-index:1;
	margin-top: 0px;
}

.map img{
	float: left;
	width:45%;
	padding-top:250px;
}

.right{
	float:right;
	margin:25px 5% 185px 5%;
}

.map-desc{
	width:90%;
	margin-left: 5%;
	
}

.map-desc h3{
	width: 100%;
	text-align: center;
	margin-bottom:50px;
	
}

.access{
	position:absolute;
	color:rgba(195, 197, 219, 0.5);
}
.train{
	float:left;
	width:48%;
	border:cadetblue solid 1px;
	margin-right:4%;

}

.bus{
	float:right;
	width:48%;
	border:cadetblue solid 1px;
}

.map-desc h4{
	width:50%;
	font-size:18px;
	font-weight: bold;
	text-align: center;
	padding-top:14px;
	margin-bottom:14px;
	margin-left:4%;
	border-bottom:cadetblue solid 1px;
}

.map-desc p{
	font-size:14px;
	font-size:400;
	padding-bottom:14px;
	margin-left:4%;
}

.mirror{
	color:rgba(195, 197, 219, 0.3);
	float:right;
	-webkit-transform:rotate(180deg) scale(1,1.8);
	font-size:15vw;
	font-weight: 2000;
	font-style: inherit;
	
	
}





/*for tablett*/
@media all and (max-width:1000px){
	
	.top{
		margin-left:unset;
		margin-bottom:8% ;
		width:100%;
		text-align: center;
		
	}

	.top img{
		width:140px;
	}
	.box-text{
		margin-left:10%;
		font-size:13px;


	}
	.bottom{
		margin:300px 0px 0px 0px;
		border-left:unset;
		border-bottom: unset;
	}
	.about{
		padding-top:100px;
	}

	.back-letter{
		font-size:130px;
	}

	#topics{
		padding-top:40%;
	}

	.contents2{
		background:linear-gradient(-160deg,rgba(162, 163, 182,0.92),rgba(253, 253, 253, 0.6) );
	}

	
	.mirror{
		font-size:130px;
	}

	.map{
		padding-top:200px;
	}
	.map img{
		width:90%;
		margin:25px 5% 25px 5%;
		float:none;
		padding-top:0px;
		
	}



	


	.map-desc{
		width: 90%;
		margin:40px 5%;
	}
	.train{
		float:none;
		width:90%;
		margin-left: 5%;
		margin-bottom: 15px;
	}
	.bus{
		float:none;
		width:90%;
		margin-left:5%;
	}
}

.news {padding: 80px 0;background: #FFF7EA; margin-top: 5%; }
.inner {width: 70%;background-color: #fff;margin: 0 auto;padding: 0px 0px 50px 0px;}
  
.sub_ttl {font-size: 30px;text-align: center;margin-bottom: 20px;margin-top:20px;}

/* ここからがニュース記事のCSS */
.news_list {margin: 0 84px;border-bottom: 1px solid #E6E6E6;}
.news_list_item {padding: 25px 0;border-top: 1px solid #E6E6E6;}
.news_list_item a {position: relative;display: flex;}  
.news_list_date {font-size: 15px;display: flex;margin-right: 56px;}  
.news_item {background: #F6C6A2;border-radius: 14px;width: 6em;text-align: center;margin-left: 20px;}
  
.arrow {width: 25px;height: 1px;background: #707070;position: absolute;top: 50%;right: 0;}  
.arrow::after {content: "";display: block;width: 6px;height: 1px;background: #707070;transform: rotate(45deg);position: absolute;right: 0px;bottom: 2px;}

.bar.g{padding-top: 5%;}

/* 色 */
.wh{ background:#FFF; color:#000; border: solid 1px black;}
.bl{ background:#000; color:#FFF;}


.wh a{ text-decoration:none; color:#000;}
.bl a{ text-decoration:none; color:#FFF;}

/* フォント */
p, li{line-height:1.75;}
html{ font-size:13px; font-family: "Sawarabi Mincho"; background:#000; letter-spacing:0.05em;}
h1{ color:#FFF; text-align:center; margin-top:1rem; font-size:10px;}
h2, h3{ color:black; text-align:center;}
h2{ margin:30px 0 25px 0; font-size:21px;}
h3{ font-size:35px; margin:20px 0;}

.main_v{ max-height:800px; overflow:hidden; margin-top: -110px;}

.navbar{position:fixed; width:100%; margin-top:-20px}

.fadein {opacity : 0.0;transform : translate(0, 150px);transition : all 500ms;}

/* 画面内に入った状態 */
.scrollin {opacity : 1;transform : translate(0, 0);
}

@media print {
	.fadein {opacity: 1;}
}


/* アコーディオンメニュー部分 */
#menu dl{border-top:solid 1px #000;}
.togb{ line-height:40px; background-color:#FFF; border-bottom:solid 1px #000; color:#b2995a; padding-left:10px; display: block; position: relative;}
.togb:after {display: block;content: "";position: absolute;top: 50%;right: 10px;width: 6px;height: 6px;margin: -4px 0 0 0;border-top: solid 2px #b2995a;border-right: solid 2px #b2995a; -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.togb.current:after{-webkit-transform: rotate(135deg); transform: rotate(135deg);}
.togb span{position:relative; right:0;}
.tog{ display:none;}
.tog ul{ padding:15px;}

/* レイアウト */
.box{  overflow:hidden;}
.band{ margin-bottom:70px;}

#topics .wh{ padding:10px 10px 20px 10px; margin-bottom:30px;}
#topics  h3{ border-bottom:solid thin black; font-weight: 400;}
#topics ul li{ text-align:center;}

/* フッター部分 */
footer{ border-top: solid thin #b2995a;}
footer p{ text-align:center; padding:5px 0; border-top: 30px;}

/*--- PCサイズ--------------------------------*/

@media ( min-width : 768px ) {
	/* フォント */
	html{ font-size:16px;}
	h1{ text-align:left;}
	h2{ margin:100px 0 80px 0; font-size:40px;}

	/* レイアウト */
	.box{ margin:0 auto; max-width:1080px;}
	.band{ margin-bottom:300px;}

	.twoway{ width:48.88888%; float:left; margin-right:2.222222%;}
	.twoway:nth-child(2n){ margin-right:0;}

	/* トピックス部分 */
	#topics .wh{ padding:15px; margin-bottom:60px; overflow:hidden; }
	#topics  ul li{ line-height:2.28;}
	#topics  h3{ font-size:21px; margin-bottom:15px; padding-bottom:15px; border-bottom:solid thin black;}

	/* PCアコーディオンメニュー部分 */
	.menu dl{border-top:none;}
	.tog{ display:block; margin-bottom:30px;}
	.togb{ background-color:inherit; color:#b2995a; border:none; padding:0; font-size:21px; margin-bottom:15px;}
	.togb:after{ display:none;}
	.tog ul{ padding:0;}

}