@charset "UTF-8";

@import url("reset.css");

/* ナビゲーション */
@import url("nav.css");

body{background-color:white;}
body{ font-size:14px; line-height:1.5; font-family: 'Vollkorn', serif;}
/*daishiの追加分*/

.textopen{font-size:25px;font-weight:1500;text-align: center;}
.contents{height:725px;background-color: rgba(51, 54, 92, 0.5);margin-top:20px;}
.top{width: 17%;margin:15% 8% 0px 8%;padding-top: 6%;}

.box-text{margin-left:35%;margin-right:10%;font-size:15px;font-weight: 1200;letter-spacing: 0.9em;line-height: 1.5em;color: white;}
.box-text p{float:left;z-index: 1;}





.bottom{margin-top:330px;margin-left:23%;border:solid 2px rgb(58, 66, 80);border-right: unset;position:absolute;}
.box-img{opacity:0.8px;}
.bottom p{font-size:12px;font-weight:500;text-align: right;color: rgb(4, 22, 56);}

#about{position:absolute;font-size:15vw;font-weight: 2000;font-style: inherit;transform:scale(1,1.8);color: rgba(162, 163, 182, 0.6);padding-top:170px;}

.bottom-space{margin-bottom:400px;}
.clr{margin-top: 50px;}


/*for tablett*/
@media all and (max-width:1000px){
	
	.top{margin-left:unset;margin-bottom:8% ;width:100%;text-align: center;}

	.top img{width:140px;}
	.box-text{margin-left:10%;font-size:13px;}
	.bottom{margin:5% 0px 0px 0px;border-left:unset;border-bottom: unset;}
}

/* 色 */
.wh{ background:#FFF; color:#000; border: solid 1px black;}
.bl{ background:#000; color:#FFF;}

.event{height: 700px; background-color: linear-gradient(-135deg, #222222, #000000)}

.wh a{ text-decoration:none; color:#000;}
.bl a{ text-decoration:none; color:#FFF;}

/* フォント */
p, li{line-height:1.75;}
html{ font-size:13px; font-family: "Sawarabi Mincho"; background:#000; letter-spacing:0.05em;}
h1{ color:#FFF; text-align:center; margin-top:1rem; font-size:10px;}
h2, h3{ color:black; text-align:center;}
h2{ margin:30px 0 25px 0; font-size:21px;}
h3{ font-size:35px; margin:20px 0;}

.main_v{ max-height:800px; overflow:hidden;}

.navbar{position:fixed; width:100%; margin-top:-20px}



/* アコーディオンメニュー部分 */
#menu dl{border-top:solid 1px #000;}
.togb{ line-height:40px; background-color:#FFF; border-bottom:solid 1px #000; color:#b2995a; padding-left:10px; display: block; position: relative;}
.togb:after {display: block;content: "";position: absolute;top: 50%;right: 10px;width: 6px;height: 6px;margin: -4px 0 0 0;border-top: solid 2px #b2995a;border-right: solid 2px #b2995a; -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.togb.current:after{-webkit-transform: rotate(135deg); transform: rotate(135deg);}
.togb span{position:relative; right:0;}
.tog{ display:none;}
.tog ul{ padding:15px;}

/* レイアウト */
.box{ margin:0 3.125%; overflow:hidden;}
.band{ margin-bottom:70px;}

#topics .wh{ padding:10px 10px 20px 10px; margin-bottom:30px;}
#topics  h3{ border-bottom:solid thin black;}
#topics ul li{ text-align:center;}

/* フッター部分 */
footer{ border-top: solid thin #b2995a;}
footer p{ text-align:center; padding:5px 0;}

/*--- PCサイズ--------------------------------*/

@media ( min-width : 768px ) {
	/* フォント */
	html{ font-size:16px;}
	h1{ text-align:left;}
	h2{ margin:100px 0 80px 0; font-size:40px;}

	/* レイアウト */
	.box{ margin:0 auto; max-width:1080px;}
	.band{ margin-bottom:300px;}

	.twoway{ width:48.88888%; float:left; margin-right:2.222222%;}
	.twoway:nth-child(2n){ margin-right:0;}

	/* トピックス部分 */
	#topics .wh{ padding:15px; margin-bottom:60px; overflow:hidden; }
	#topics .2way ul li{ line-height:2.28;}
	#topics  h3{ font-size:21px; margin-bottom:15px; padding-bottom:15px; border-bottom:solid thin black;}

	/* PCアコーディオンメニュー部分 */
	.menu dl{border-top:none;}
	.tog{ display:block; margin-bottom:30px;}
	.togb{ background-color:inherit; color:#b2995a; border:none; padding:0; font-size:21px; margin-bottom:15px;}
	.togb:after{ display:none;}
	.tog ul{ padding:0;}
}
